name: glosten-milgrom-rl
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - tqdm
  - joblib
  - jsons
  - pathlib
  - ipykernel
  - jupyter